@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Rockwell;
}
body {
  background-color: #0ea5e9;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-top: 200px;
}
.texttodo {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 35px;
  color: #cffafe;
  margin-bottom: 50px;
}
.texttodo p {
  margin-top: 6px;
}
.input > input {
  outline: none;
  border: none;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 40px;
}
ul {
  list-style: none;
  color: #cffafe;
  text-align: left;
}
.ul {
  width: 355px;
  margin-right: 50px;
}
li {
  font-size: 20px;
  padding: 5px;
}
.li {
  display: flex;
  width: 400px;
  align-items: baseline;
  justify-content: space-around;
  transition: all 0.5s ease-out;
}
.icons {
  display: inline-block;
}
i {
  margin-left: 6px;
}

select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #cffafe;
  cursor: pointer;
  color: #0369a1;
  width: 130px;
}

.dropdown-content {
  background-color: #0369a1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
}
.input {
  display: flex;
  justify-content: center;
}
.submit {
  font-size: 40px;
  color: white;
}
.lili {
  width: 300px;
  transition: all 0.5s ease-out;
}
.agree {
  text-decoration: line-through;
  transition: all 0.5s ease-out;
}
.opacity {
  opacity: 0.6;
  transition: all 0.5s ease-out;
}
